h1, h2, h3, h4, h5, h6, p{
    font-weight: 200;
}
.black-border{
    text-shadow: 0 0 3px black, 0 0 5px black;
}
.white-border{
    text-shadow: 0 0 3px white, 0 0 5px white;
}
.custom-grid{
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 15px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table-of-contents {
    margin-top: 0;
    padding-top: 48px;
}

.sticky{
    position: sticky;
    top: 0px;
}